# Sao chép file này thành .env và thay đổi các giá trị tương ứng

# Kết nối MongoDB
MONGO_URI=mongodb+srv://thanhlct1423:Thanh01042003@giasutoan.mjwwhvn.mongodb.net/?retryWrites=true&w=majority&appName=GiaSuToan
DB_NAME=ChatGiaSu

# Cài đặt JWT
JWT_SECRET_KEY=your_jwt_secret_key
JWT_ACCESS_TOKEN_EXPIRES=3600

# URL API RAG 
# Mặc định sử dụng localhost, thay đổi khi triển khai
API_RAG_URL=http://localhost:8000 