flask==2.2.3
flask-cors==3.0.10
pymongo==4.3.3
sentence-transformers==2.6.0
ChromaDB==0.4.22
PyPDF2==3.0.1
python-docx==1.0.1
tiktoken==0.5.1
pandas==2.2.0
python-dotenv==1.0.0
openai==0.28.1
werkzeug==2.2.3
passlib==1.7.4
pyjwt==2.8.0
bcrypt==4.0.1
pdfplumber==0.10.3
flask_jwt_extended==4.5.3
bson==0.5.10
fastapi==0.110.0
uvicorn==0.27.0
pydantic==2.5.2
python-multipart==0.0.6
google-generativeai==0.5.0
openpyxl==3.1.2
pillow==10.1.0 